<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Create A Todo List By Clicking The Button Below</h1>
  <button><a href="./login">Login</a></button>
  <button><a href="./signup">Sign Up</a></button>
</body>
</html>